.container-root {
    /* min-height: 100vh; */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    row-gap: 0.8rem;
    flex: 1;
    /* min-height: 100vh; */
    padding: 1.2rem 0.6rem;
    position: relative;
}
.text-center {
    text-align: center;
}
.content-container {
    margin: 0 0.3rem;
}

.content-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.form-control {
    min-width: 120px;
}

.slect-empty {
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.file-input {
    padding: 1.8rem 1rem !important;
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-style: solid;
    border-width: 0.4rem;
    border-color: transparent;

    border-style: dashed;
    border-color: #3e3e3e32;
    border-width: 0.4rem;
}

.paper {
    padding: 0.8rem 1rem;
    margin: 0.3rem;
    position: relative;
}

.drag-enter {
    border-style: dashed;
    border-color: #f83204;
    border-width: 0.4rem;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}
