.container-root {
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    row-gap: 0.8rem;
    flex: 1;
    min-height: 100vh;
}

.content-container {
    margin: 0 0.3rem;
}

.form-control {
    min-width: 120px;
}

.slect-empty {
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.file-input {
    padding: 1.8rem 1rem !important;
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paper {
    padding: 0.8rem 1rem;
    margin: 0.3rem;
    position: relative;
}

.drag-enter {
    border-style: dashed;
    border-color: #f83204;
}

.flex-1 {
    flex: 1;
}
